
.page {
  padding: 20px;
}

.main {
  background-color: #f9f9f9;
  padding-top: 50px;
}

.logo {
  max-width: 100%;
}

.ctas {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.primary {
  display: inline-flex;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: #333;
  }
}

.secondary {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  color: #0070f3;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  &:hover {
    background-color: #e0e0e0;
  }
}

.footer {
  margin-top: 40px;
  text-align: center;
  a {
    margin: 0 15px;
    color: #0070f3;
    font-weight: 600;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.footer a {
  margin: 0 10px;
}

.footer img {
  margin-right: 8px;
}

.mb-4 {
  margin-bottom: 1.5rem;
}

.mb-5 {
  margin-bottom: 3rem;
}
